thesis_afghan/flows.json
[
    {
        "id": "c3bd9fef19b9e200",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8820a82d37e4476",
        "type": "aedes broker",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "ac3aa59ec13de116"
            ]
        ]
    },
    {
        "id": "24d009363eb2de29",
        "type": "inject",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hai",
        "payloadType": "str",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "615c0a96b7cec9a0"
            ]
        ]
    },
    {
        "id": "615c0a96b7cec9a0",
        "type": "mqtt out",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "topic": "/EV3_test",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fe9af3019161460b",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "feca0e8c844bd30d",
        "type": "inject",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100, 10",
        "payloadType": "str",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "0a24549546ac8f19"
            ]
        ]
    },
    {
        "id": "0a24549546ac8f19",
        "type": "mqtt out",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "topic": "/EV3_movement",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fe9af3019161460b",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "b5fc10f849fad823",
        "type": "ui_slider",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "9f5679a3b4191c2c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "0.1",
        "step": "0.01",
        "className": "",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "c40dbc95d86fe31a",
                "9a7186c4a329b9ed"
            ]
        ]
    },
    {
        "id": "cd410bc2143ad75a",
        "type": "ui_slider",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "label": "steer",
        "tooltip": "{{msg.payload}}",
        "group": "9f5679a3b4191c2c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": "1",
        "className": "",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "748ae5a85f51e3c1",
                "678118b296b10e3a"
            ]
        ]
    },
    {
        "id": "c40dbc95d86fe31a",
        "type": "ui_text",
        "z": "c3bd9fef19b9e200",
        "group": "9f5679a3b4191c2c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speed",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "748ae5a85f51e3c1",
        "type": "ui_text",
        "z": "c3bd9fef19b9e200",
        "group": "9f5679a3b4191c2c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Steer",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "ccf1ee0e99e5c78b",
        "type": "inject",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "b5fc10f849fad823",
                "cd410bc2143ad75a",
                "8a6d718a72824ae0",
                "6085b1a939cc4af5",
                "6bcff0c6da783816"
            ]
        ]
    },
    {
        "id": "696e7f9e979bcc44",
        "type": "ui_button",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "group": "9f5679a3b4191c2c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Zero",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "b5fc10f849fad823",
                "cd410bc2143ad75a",
                "6085b1a939cc4af5",
                "8a6d718a72824ae0",
                "637aeab48d026cc8",
                "baaf2b7db153dec2",
                "6bcff0c6da783816"
            ]
        ]
    },
    {
        "id": "9a7186c4a329b9ed",
        "type": "mqtt out",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "topic": "/EV3_movement/speed_command",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fe9af3019161460b",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "678118b296b10e3a",
        "type": "mqtt out",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "topic": "/EV3_movement/steer_command",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fe9af3019161460b",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "8a6d718a72824ae0",
        "type": "ui_text_input",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "label": "speed_input",
        "tooltip": "",
        "group": "9f5679a3b4191c2c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "b5fc10f849fad823"
            ]
        ]
    },
    {
        "id": "6085b1a939cc4af5",
        "type": "ui_text_input",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "label": "steer_input",
        "tooltip": "",
        "group": "9f5679a3b4191c2c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "cd410bc2143ad75a"
            ]
        ]
    },
    {
        "id": "637aeab48d026cc8",
        "type": "ui_button",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "group": "9f5679a3b4191c2c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "turn_left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "10",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "42875e4ceb05d61a",
                "cd410bc2143ad75a"
            ]
        ]
    },
    {
        "id": "baaf2b7db153dec2",
        "type": "ui_button",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "group": "9f5679a3b4191c2c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "turn_right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "-10",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 600,
        "wires": [
            [
                "42875e4ceb05d61a",
                "cd410bc2143ad75a"
            ]
        ]
    },
    {
        "id": "42875e4ceb05d61a",
        "type": "trigger",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 540,
        "y": 560,
        "wires": [
            [
                "cd410bc2143ad75a"
            ]
        ]
    },
    {
        "id": "f4d47f503cd3cb83",
        "type": "mqtt in",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "topic": "/EV3_movement/steer_angle_ADC",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe9af3019161460b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 560,
        "y": 40,
        "wires": [
            [
                "cc66314b663ed6f7"
            ]
        ]
    },
    {
        "id": "cc66314b663ed6f7",
        "type": "debug",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 40,
        "wires": []
    },
    {
        "id": "6bcff0c6da783816",
        "type": "ui_slider",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "label": "steer (degree)",
        "tooltip": "{{msg.payload}}",
        "group": "9f5679a3b4191c2c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-19",
        "max": "19",
        "step": "0.5",
        "className": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "678118b296b10e3a",
                "071aa1918f888690"
            ]
        ]
    },
    {
        "id": "071aa1918f888690",
        "type": "ui_text",
        "z": "c3bd9fef19b9e200",
        "group": "9f5679a3b4191c2c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Steer(degree)",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 140,
        "y": 600,
        "wires": []
    },
    {
        "id": "ac3aa59ec13de116",
        "type": "debug",
        "z": "c3bd9fef19b9e200",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "fe9af3019161460b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.101",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9f5679a3b4191c2c",
        "type": "ui_group",
        "name": "Default",
        "tab": "b790ce2846d66ee0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b790ce2846d66ee0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]